/* Style global pour supprimer les marges par défaut et définir le fond */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff; /* Fond blanc */
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
