.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff; /* Texte en blanc */
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    background: #000; /* Fond noir */
    transition: 0.5s;
    transition-property: box-shadow;
    box-shadow: 0 0 10px #fff; /* Ombre blanche subtile */
}

.shadow__btn:hover {
    box-shadow: 0 0 5px #fff,
                0 0 15px #fff,
                0 0 30px #fff,
                0 0 60px #fff; /* Effet lumineux en blanc */
}
