body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 36px;
  color: #00bcd4;
}

h2 {
  font-size: 28px;
  color: #ffcc00;
  margin-top: 20px;
}

p {
  font-size: 18px;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 18px;
  margin: 10px 0;
}

.shadow__btn {
  padding: 20px 30px;
  font-size: 20px;
  background: #ffffff;
  color: #000;
  border-radius: 7px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0 0 25px #ffffff;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
}

.shadow__btn:hover {
  box-shadow: 0 0 10px #00bcd4, 0 0 25px #00bcd4;
}
