/* Général */
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de la page */
  color: #ffffff;
}

/* Container pour centrer le contenu */
.container {
  text-align: center;
}

/* Titre */
h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

/* Paragraphe */
p {
  font-size: 24px;
  margin-bottom: 30px;
}

/* Bouton */
.shadow__btn {
  padding: 20px 40px;
  border: none;
  font-size: 18px;
  color: #000000;
  background: rgb(255, 255, 255);
  border-radius: 7px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 0 25px rgb(255, 255, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255),
              0 0 25px rgb(255, 255, 255),
              0 0 50px rgb(255, 255, 255),
              0 0 100px rgb(255, 255, 255);
}
